#img{
    display: flex;

    margin-top:25%;
    height:35px;
    margin-bottom: 10%;
}
button:hover{
    background-color: grey;
    color: white;
}
.btn{
    width: 100%;
    height:58px;
    display: flex;
    text-align: center;
    border-radius:10px;
    margin-top: 20px;
}
#main{
    width: 25%;
    
    margin: auto;
}
.btn>img{
    width: 7%;
    margin:4.5%;
}
.btn>p{
    margin-left: 10%;
    
    font-size: larger;
}
#input{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color:#007cc2; font-weight: 500; font-size: medium; color: white;

}
#input:hover{
    background-color: rgb(29, 20, 146);
}
input{
    width: 98%;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
p>span{
    color:#007cc2;
}
.line{
    height: 1px;
    width: 100%;
    position: relative;
    background-color: #d4d4d4;
    margin:25px 0 35px 0;
}
.line::before{
    content: 'OR';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color:#fff;
    color: #232836;
    padding: 0 20px;
}
#gmail{
    border: 1px solid red;
}
span+span{
    margin-left:15px;
}
#pass{
    display: flex;
    justify-content: space-between;
}
#pass>div+div{
    width: 7%;
}
#char{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#char>div{
   forced-color-adjust: blue;
}