/* Style all input fields */
/* input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  /* input[type=submit] {
    background-color: #04AA6D;
    color: white;
  } */
  
  /* Style the container for inputs */
  /* .container {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  /* #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  } */
/*   
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  } */
  
  /* Add a green text color and a checkmark when the requirements are right */
  /* .valid {
    color: green;
  } */
  
  /* .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
  }
   */
  /* Add a red text color and an "x" icon when the requirements are wrong */
  /* .invalid {
    color: red;
  }
   */
  /* .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
  } */ 


  * {
    font-family: system-ui;
}
#emailpage{
    
    /* border: 2px solid red; */
    width: 50%;
    margin: auto;
    margin-top: 5%;
   display: flex;
   flex-direction: column;
    /* align-items: center; */
   
}
#loginpage{
    margin: auto;
    width: 45%;
   
}
#imglogo>img{
width: 30%;
}
h1{
    margin-top: 10%;
    font-size: 35px;

}
label {
   
    padding-top: 2%;
    color: black;
    font-weight: 700;
}

input[type=password]
 {
    width: 100%;
    padding: 18px;
    margin: 25px 25px 0px 0px;
    outline: 0;
    display: inline-block;
    border: 1px solid #c7cad0;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 450;
}
input[type=submit]
 {
    width: 100%;
    padding: 18px;
    margin: 25px 25px 0px 0px;
    outline: 0;
    display: inline-block;
   border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
    background-color: #1c8ed1;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover
 {
    background-color: #007cc2;
 }
 .abc{
  margin-top: 5%;
 }

 .ab{
  color: #1996d2;
  font-size: 18px;
  font-weight: 600;
}

.eyeicon {
  position: absolute;
  top: 290px;
  right: 780px;

}

.ey{
  width: 100%;
  padding: 18px;
  margin: 25px 25px 0px 0px;
  outline: 0;
  display: inline-block;
  border: 1px solid #c7cad0;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 450;
}

.ia{
margin: auto;
margin-bottom: -9%;
}
.ia>a{
  font-size: 20px;
  text-decoration: none;
  color: #67696a;
  font-weight: 500;
}
.fullpass{
  margin-top: 10%;
}

@media screen and  (min-width: 768px) and (max-width: 1024px) {
  
  #emailpage{
    /* margin-top: -10%; */
    margin-top: 10%;
width: 90%;
}
#loginpage{
  margin: auto;
  width: 60%;
 
}
#imglogo>img{
width: 30%;
}
.eyeicon {
position: absolute;
top: 300px;
right: 250px;

}
 
}
@media screen and  (min-width: 480px) and (max-width: 768px) {
 
 
 
  #emailpage{
      /* margin-top: -10%; */
      margin-top: 10%;
  width: 90%;
  }
  #loginpage{
    margin: auto;
    width: 100%;
   
}
#imglogo>img{
width: 30%;
}
.eyeicon {
  position: absolute;
  top: 290px;
  right: 70px;

}
        
 
}
